
.button{
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 2px;
}

body {
  background-color: black;
  font-family: Calibri, Helvetica, Arial, sans-serif;
  color: green;
}

.col{
  float: left;
  width: 50%;
}

#verify{
  visibility: hidden;
  color: red;
}

input[type=text]{
  outline: none;
}

.input{
  border: 2px solid green;
  border-radius: 4px;
}
